<main>
  <section>
    {{#with main}}
    {{> title data = title big = true}}
    <ul class="list-group">
      {{#each education}}

      <li  class="list-group-item col-3">
        {{name}}
        {{#if isEnd}}
        (ще в процесі)
        {{/if}}
      </li>

      {{/each}}
    </ul>

    {{/with}}
  </section>
  <section>
    {{> title data = title big = false}}
    {{#with main}}
    <ul class="list-group">
      {{#each certificate}}

      <li  class="list-group-item col-3">{{name}} ({{id}})</li>

      {{/each}}
    </ul>
    {{/with}}
  </section>
</main>