<main>
  <section>
    {{> title data = main.title big = true}}
    <ul class="list-group">
      {{#each skills}}
      <li class="list-group-item col-3">{{name}}</li>
      {{/each}}
    </ul>
  </section>
  <section>
    {{> title data = title big = false}}
    <ol class="list-group">
      {{#each hobbies}}
      <li class="list-group-item col-3">{{name}}
        {{#if isMain}}
        (favourite)
        {{/if}}
      </li>
      {{/each}}
    </ol>
  </section>
</main>