{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}


<main>
  <section>
    <div class="card">
      <div class="card-body">
        {{> title data = summary.title big=true}}
        <div>
          <p>
            {{summary.text}}
          </p>
        </div>
      </div>
    </div>
  </section>

  {{#with experience}}
  <section>
    <div class="card">
      <div class="card-body">
        <div>
          {{> title data = title big=false}}
          <div>
            <p>
              {{text}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{/with}}
</main>
{{!-- <div>
  <nav>
    <a href='/summary'>Summary</a>
    <a href='/skills'>Skills</a>
  </nav>

</div> --}}

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}