<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{#each breadcrumb}}
        {{#if @last}}
        <li class="breadcrumb-item " aria-current="page">
            {{name}}
        </li>
        {{else}}
        <li class="breadcrumb-item " aria-current="page">
            <a href="{{url}}">{{name}}</a>
        </li>
        {{/if}}
        {{/each}}
    </ol>
</nav>