<nav>
  <em>
    {{> link text="Summary" url='/summary' line = true}}
    {{> link text="Skills" url='/skills' line = true}}
    {{> link text="Education" url='/education' line = true}}
    {{> link text="Work" url='/work' line = true}}
    {{> link text="Person" url='/person' line = true}}
      {{> link text="Bio" url='/bio' noLine = true}}
  </em>
</nav>